@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.ttf');
}

body { 
    background-color: white;
    /* standard US size (8.5x11 aka Letter) */
    width: 850px;
    height: 1100px;

    /* standard international size (8.27x11.7 aka A4) */
    /*
    width: 827px;
    height: 1170px;
    */
    margin: 0 auto;
}

div {
    background-color: white;
}

p {
    color: black;
    font-size: 12px;
    font-family: 'Inter-Regular', sans-serif;
    padding-left: 20px;
}

a {
	color: black;
	text-decoration: none;
    font-family: 'Inter-Regular', sans-serif;
}

mark {
    background-color: #455A64;
    color: black;
}

h1, h2, h3, h5, h6 {
    color: black; 
    font-family: 'Inter-Bold', sans-serif;
    padding-left: 23px;
}

h1 {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

h4 {
    text-align: center;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 12px;
}

h4 a {
    font-family: 'Inter-Bold', sans-serif;
}

h2 {
    font-size: 20px;
}

ul {
    font-family: 'Inter-Regular', sans-serif;
    font-size: 12px;
    color: black;
}

ol {
    font-family: 'Inter-Regular', sans-serif;
    color: black;
    font-size: 12px;
}

li p {
    margin-left: -25px;
    font-size: 12px;
    width: 770px;
}

strong {
    color: black;
    font-size: 12px;
    font-family: 'Inter-Bold', sans-serif;
    padding-left: 3.5px;
}

em {
    padding-left: 3px;
}

hr {
    /* optional: change border to black */
    /* 
    border-color: black; 
    */

    /* Letter */
    width: 820px;

    /* A4 */
    /*
    width: 800px; 
    */

    /* A4 alternative */
    /*
    width: 795px;
    */
}